
@font-face {
    font-family: "Trebuchet MS";
    src: url("../fonts/TrebuchetMS.eot"); /* IE9 Compat Modes */
    src: url("../fonts/TrebuchetMS.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/TrebuchetMS.svg") format("svg"), /* Legacy iOS */
    url("../fonts/TrebuchetMS.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/TrebuchetMS.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Trebuchet MS Bold";
    src: url("../fonts/TrebuchetMSBold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/TrebuchetMSBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/TrebuchetMSBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/TrebuchetMSBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/TrebuchetMSBold.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}